* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s ease color;
}

:root {
    --black: #131313;
    --white: #f5f5f5
}

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    width: 80%;
    margin: 0 auto;
    background: var(--white);
    color: var(--black);

    button {
        cursor: pointer;
        padding: initial;
        margin: auto;
        font-family: inherit;
    }
}

header {
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    button {
        background: none;
        border: none;
        font-size: 1.5rem;
        height: 50px;
        width: 50px;
        transition: 0.3s ease transform;
    }

    button:hover {
        transform: scale(1.3);
    }
}

footer {
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
}

main {
    display: flex;
}

#myPalettes,
#colorList,
#savedPalettes {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    button:has(img) {
        background: none;
        border: none;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        transition: 0.2s ease all;
        border-bottom: 16px solid var(--hex);
    }

    img:hover {
        transform: scale(1.1);
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.275);
    }

    figure {
        display: inline-block;
        width: min-content;
    }
}

#myPalettes,
#colorList {
    border: 1px inset darkgray;
}

main>div {
    flex: 3 1 16rem;
}

#savedPalettes {
    display: initial;
    flex: 2 1 4rem;
    background-color: lightgray;
    padding: 1rem 2rem;

    #delBtn {
        width: 8rem;
        display: block;
        margin: 1rem auto 0;
        padding: 0.5rem 0;
        border: 1px outset gray;
        border-radius: 8px;
    }
}

#myPalettes {
    section {
        border: none;
        padding: 1rem;

        >button {
            width: 16rem;
            display: block;
            margin: 1rem auto 0;
            padding: 0.5rem 0;
            border: 1px outset gray;
            border-radius: 8px;
        }

        #saveBtn {
            background-color: darkcyan;
            color: var(--white);
        }

        #saveBtn:hover {
            background-color: hsl(from darkcyan h s 25%);
        }

        #saveBtn:active {
            border: 1px inset gray;
        }
    }
}

#currentPalette,
.savedPal,
.savedLi {
    list-style-type: none;
}

#currentPalette,
.savedPal {
    display: flex;
    /* flex-flow: row wrap; */
    margin: 1.5rem 0;
}

#colorList {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem; */
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    list-style-type: none;
}

.section-header {
    display: flex;
    align-items: baseline;
    margin: 0 0 1rem 0;
}

/* JS toggle classes */

body.dark,
main.dark,
section.dark {
    color: var(--white);
    background: var(--black);

    li button {
        color: inherit;
    }

    #savedPalettes,
    #savedPalettes>* {
        background: #202020;
        color: var(--white);
    }
}

.serif {
    font-family: serif;
    font-size: 108%;

    main button {
        font-family: serif;
        font-size: 86%;
    }
}

@media screen and (max-width: 1000px) {
    main {
        flex-flow: column wrap;
    }
}